# Data — never commit datasets to git
data/
*.csv
*.zip
*.png

# Model weights
*.pth
*.pt
*.bin

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/

# Environment
.env
venv/
.venv/

# W&B
wandb/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
